.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }

.ion-content{
    color: aquamarine;
}
.container{
    --background-color: cadetblue;
    --border-radius: 25px;
    --border-style: double;
    --border-color: rgb(255, 255, 255);

}